* {
  font-family: Euclid Circular A;
}

#1e293b {
  color: #1e293b;
}

.fill-mode {
  fill: var(--bs-gray-900) !important;
}

.text-primary {
  color: #3366cc;
}

#suggestion {
  color: black;
  text-decoration: none;
}

#suggestion:hover {
  color: #3366cc;
}

.icon-lg {
  width: 3.5rem;
  height: 3.5rem;
  line-height: 3.5rem;
  text-align: center;
  font-size: 1.2rem;
}

#green-button {
  background-color: #3366cc;
  color: white;
  border: none;
}

#green:hover {
  background-color: #3366cc;
  color: white;
}

.text-inherit {
  text-decoration: none;
  color: #1e293b;
  font-weight: bold;
}

.job-circle {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border-color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
}

#joblist {
  height: 82vh;
}

#circleit {
  border-radius: 100% !important;
  width: 50px;
  height: 50px;
  background-color: #3366cc;
  display: flex;
  justify-content: center;
  align-items: center;
}

#jobcategory {
  height: 80vh;
  overflow-y: auto;
}

#content-container {
  height: 82vh;
}

#comicons {
  width: 330px;
  height: 200px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.companylogo {
  margin: 0px 30px;
}

.companylogo img {
  width: 100px;
}

.list-group-item.active {
  z-index: 2;
  color: var(--bs-list-group-active-color);
  background-color: var(--bs-list-group-active-bg);
  border-color: var(--bs-list-group-active-border-color);
}

small.company {
  color: #00000099;
  font-weight: 500;
}

small {
  font-weight: 300;
}

a:hover {
  box-shadow: inset 0 0 0 1px var(--sb-foreground-highlight-high);
}

.rounded-circle {
  border-radius: 100% !important;
}

#rounded-circle {
  width: 50px;
  height: 50px;
  /* border: 1px solid black; */
  border-radius: 50% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

#green-button {
  background-color: #3366cc;
  color: white;
  border: none;
}

#navbarLanding:hover {
  color: #3366cc;
}

#green-button:hover {
  background-color: #3366cc;
  color: white;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

#bg {
  background-color: #f5f9fc;
}

.btn-group > .btn,
.btn-group-vertical > .btn {
  flex: auto;
  position: relative;
}

.btn-sm,
.btn-group-sm > .btn {
  --x-btn-padding-y: 0.5rem;
  --x-btn-padding-x: 1rem;
  --x-btn-font-size: 0.875rem;
  --x-btn-border-radius: 0.375rem;
}

.badge {
  background-color: #3366cc;
}

#purple-text {
  color: #3366cc;
  text-decoration: none;
}

#green-text {
  color: #3366cc;
  text-decoration: none;
}

.avatar-group .avatar-img {
  border: 2px solid var(--bs-body-bg);
}

#menu-hover:hover {
  background-color: #f5f9fc;
}

#grey-text {
  /* color: #64748b; */
  color: #747579;
  text-decoration: none;
}

#grey-text:hover {
  color: #3366cc;
}

.nav-link.mb-3:hover {
  color: #3366cc;
}

/* Navbar */
#navbutton {
  border: 1px solid #3366cc;
  color: #3366cc;
}

#navbutton:hover {
  background-color: #3366cc;
  color: white;
}

input {
  line-height: 22.4px;
}
img {
  max-width: 100%;
  height: auto;
}

.avatar-group {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icon-md {
  width: 2.6rem;
  height: 2.6rem;
  line-height: 2.6rem;
  text-align: center;
  font-size: 0.8rem;
}

/* Hero */
#skills {
  color: #64748b;
  font-family: 500;
  text-decoration: none;
  padding: 6px;
  border: 1px solid red;
}

#skills:hover {
  background-color: #3366cc;
  color: #333333;
}

.companylogo {
  margin: 0px 30px;
}

.companylogo img {
  width: 100px;
}
#certificate-types {
  color: #64748b;
  padding: 6px;
}

a {
  text-decoration: none;
}

a:hover {
  color: #3366cc;
}

/* SignUp Page Style */
.form-check-input:checked[type="checkbox"] {
  background-color: #3366cc;
  border-color: 1px solid #3366cc;
}

.form-check-input {
  --geeks-form-check-bg: var(--geeks-input-bg);
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--geeks-form-check-bg);
  background-image: var(--geeks-form-check-bg-image);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid var(--geeks-input-check-border);
  flex-shrink: 0;
  height: 1.2em;
  margin-top: 0.2em;
  vertical-align: top;
  width: 1.2em;
}

.form-check-input {
  --geeks-form-check-bg: var(--geeks-input-bg);
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--geeks-form-check-bg);
  background-image: var(--geeks-form-check-bg-image);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid var(--geeks-input-check-border);
  flex-shrink: 0;
  height: 1.2em;
  margin-top: 0.2em;
  vertical-align: top;
  width: 1.2em;
}

.form-check .form-check-input {
  float: left;
  margin-left: -1.7em;
}

.form-check-input[type="checkbox"] {
  border-radius: 0.25em;
}

.form-label {
  color: #334155;
}

.btn-primary {
  --gk-btn-color: #fff;
  --gk-btn-bg: #3366cc;
  --gk-btn-border-color: #3366cc;
  --gk-btn-hover-color: #fff;
  --gk-btn-hover-bg: #3366cc;
  --gk-btn-hover-border-color: #3366cc;
  --gk-btn-focus-shadow-rgb: 138, 105, 254;
  --gk-btn-active-color: #fff;
  --gk-btn-active-bg: #5e3fcb;
  --gk-btn-active-border-color: #583bbf;
  --gk-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --gk-btn-disabled-color: #fff;
  --gk-btn-disabled-bg: #3366cc;
  --gk-btn-disabled-border-color: #3366cc;
}

.btn-social {
  background-color: var(--gk-gray-200);
  border: 1px solid transparent;
  border-radius: 0.375rem;
  color: var(--gk-gray-500);
  display: inline-block;
  font-size: 0.875rem;
  height: 2.25rem;
  line-height: 2.25rem;
  padding: 0;
  text-align: center;
  transition: border-color 0.25s ease-in-out, background-color 0.25s ease-in-out,
    color 0.25s ease-in-out;
  width: 2.25rem;
}

.btn-social-outline {
  background-color: transparent;
  border-color: var(--gk-gray-400);
}

/* User Profile */
.card {
  border: transparent;
}

.card-header {
  padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
  margin-bottom: 0;
  color: var(--bs-card-cap-color);
  background-color: white !important;
  border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);
}

#joblist-height {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}

.card-lift {
  border-radius: 0.5rem;
  transition: transform 0.2s ease-in-out, border-color 0.2s ease-in-out,
    background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.card {
  box-shadow: 0 1px 3px rgba(17, 24, 39, 0.09);
}
.card {
  --gk-card-spacer-y: 1.5rem;
  --gk-card-spacer-x: 1.5rem;
  --gk-card-title-spacer-y: 0.5rem;
  --gk-card-title-color: ;
  --gk-card-subtitle-color: ;
  --gk-card-border-width: var(--gk-border-width);
  --gk-card-border-color: var(--gk-border-color);
  --gk-card-border-radius: 0.5rem;
  --gk-card-box-shadow: ;
  --gk-card-inner-border-radius: calc(0.5rem - var(--gk-border-width));
  --gk-card-cap-padding-y: 1rem;
  --gk-card-cap-padding-x: 1.5rem;
  --gk-card-cap-bg: var(--gk-card-background);
  --gk-card-cap-color: ;
  --gk-card-height: ;
  --gk-card-color: ;
  --gk-card-bg: var(--gk-card-background);
  --gk-card-img-overlay-padding: 1rem;
  --gk-card-group-margin: 0.75rem;
  color: var(--gk-body-color);
  display: flex;
  flex-direction: column;
  height: var(--gk-card-height);
  min-width: 0;
  position: relative;
  word-wrap: break-word;
  background-clip: border-box;
  background-color: var(--gk-card-bg);
  border: var(--gk-card-border-width) solid var(--gk-card-border-color);
  border-radius: var(--gk-card-border-radius);
}

.ms-n8 {
  margin-left: -3.5rem !important;
}

*,
:after,
:before {
  box-sizing: border-box;
}

.p-3 {
  padding: 1rem !important;
}

.avatar-group .avatar .avatar-initials,
.avatar-group img {
  border: 3px solid var(--gk-white);
}
.avatar img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}
.rounded-circle {
  border-radius: 50% !important;
}

.navbar {
  background-color: var(--gk-navbar-bg);
  box-shadow: 0 1px 3px rgba(17, 24, 39, 0.09);
  padding: 0.625rem 1rem;
}

.start-10 {
  left: 10% !important;
}
.bottom-10 {
  bottom: 10% !important;
}
.position-absolute {
  position: absolute !important;
}

.shadow {
  box-shadow: var(--gk-box-shadow) !important;
}

.avatar-md {
  height: 2.5rem;
  width: 2.5rem;
}

.avatar {
  display: inline-block;
  height: 2rem;
  position: relative;
  width: 2rem;
}

.me-8 {
  margin-right: 3.5rem !important;
}

.bottom-0 {
  bottom: 0 !important;
}
.position-absolute {
  position: absolute !important;
}

.card-hover-svg {
  box-shadow: 0.2s ease-in-out;
  cursor: pointer;
  display: block;
  transition: 0.3s ease-in-out;
}

.card {
  box-shadow: 0 1px 3px rgba(17, 24, 39, 0.09);
}
.gap-4 {
  gap: 1.5rem !important;
}

.card-hover-svg svg {
  fill: #3366cc;
}

.card-hover-svg:hover svg {
  fill: crimson;
}

.card-hover-svg:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
  transform: translateY(-0.25rem);
}
.card-hover-svg {
  box-shadow: 0.2s ease-in-out;
  cursor: pointer;
  display: block;
  transition: 0.3s ease-in-out;
}
.card {
  box-shadow: 0 1px 3px rgba(17, 24, 39, 0.09);
}
.gap-4 {
  gap: 1.5rem !important;
}
.flex-column {
  flex-direction: column !important;
}
.d-flex {
  display: flex !important;
}

.card-lift.active,
.card-lift:focus,
.card-lift:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
  transform: translateY(-0.25rem);
}
.card-lift {
  border-radius: 0.5rem;
  transition: transform 0.2s ease-in-out, border-color 0.2s ease-in-out,
    background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.card-lift.active,
.card-lift:focus,
.card-lift:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
  transform: translateY(-0.25rem);
}

.counter {
  background-color: #f5f5f5;
  padding: 20px 0;
  border-radius: 5px;
}

.count-title {
  font-size: 40px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}

.count-text {
  font-size: 13px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}

.fa-2x {
  margin: 0 auto;
  float: none;
  display: table;
  color: #ff5e00;
}

i {
  font-size: xx-large;
}

h1 h2 h3 h4 h5 h6 {
  color: #1e293b;
}

.icon-shape {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}
.icon-lg {
  height: 3rem;
  line-height: 3rem;
  width: 3rem;
}
